/* set backgroundcolor for container title and make edges round */
.title { 
    background-color: #1E90FF;
    color: #ffffff;
    border-radius: 5px;
}
/* set backgroundcolor for container main and make edges round */
.main {
    background-color: #E0FFFF;
    border-radius: 5px;
}
/* loginform sizing */
.loginform
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
/* loginform sizing */
.addrow
{
    max-width: 660px;
    padding: 15px;
    margin: 0 auto;
}
/* get distance to items on bottom*/
.addrow .addrow-heading, .addrow .checkbox
{
    margin-bottom: 10px;
}

.addrow .checkbox
{
    font-weight: normal;
}

.addrow .form-control:focus
{
    z-index: 2;
}
/* get distance to items on bottom*/
.addrow input[type="text"]
{
    margin-bottom: 10px;
}
/* get distance to items on bottom*/
.addrow input[type="password"]
{
    margin-bottom: 10px;
}
/* get distance to items on bottom*/
.loginform .loginform-heading, .loginform .checkbox
{
    margin-bottom: 10px;
}

.loginform .checkbox
{
    font-weight: normal;
}

.loginform .form-control:focus
{
    z-index: 2;
}
/* get distance to items on bottom*/
.loginform input[type="text"]
{
    margin-bottom: 10px;
}
/* get distance to items on bottom*/
.loginform input[type="password"]
{
    margin-bottom: 10px;
}
/* button sizing*/
.adjustbutton
{
    max-width: 160px;
    padding: 4px;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}
/* hide things */
.hideit
{
    display: none;
}

.btn-group .btn {
    transition: background-color .3s ease;
}

.panel-table .panel-body {
    padding: 0;
}

.table > thead > tr > th {
    border-bottom: none;
}

.panel-footer, .panel-table .panel-body .table-bordered {
    border-style: none;
    margin: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align: center;
    width: 50px;
}

.panel-table .panel-body .table-bordered > thead > tr > th.col-tools {
    text-align: center;
    width: 120px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
    border-right: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
    border-left: 0;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
    border-bottom: 0;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
    border-top: 0;
}

.pagination > li > a, .pagination > li > span {
    border-radius: 50% !important;
    margin: 0 5px;
}

.pagination {
    margin: 0;
}

.userdata {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
} 

.userdata .panel-userdata {
    max-width: 100%;
    margin-bottom: 15px;
}

.addrowsize {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
} 

.addrowsize .panel-addrowsize {
    max-width: 100%;

}

.administration {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 15px;
} 

.administration-headline {
    margin-right: 10%;
    margin-left: 7%;
    margin-bottom: 10%;
}

.validatebutton {
    margin-right: 3px;
}