<p>Diese Seite hilft dir bei der Erstinstallation und Konfiguration von
	<a href="http://dokuwiki.org">DokuWiki</a>. Zusätzliche Informationen zu
	diesem Installationsskript findest du auf der entsprechenden
	<a href="http://dokuwiki.org/installer">Hilfe-Seite</a> (en).</p>

<p>DokuWiki verwendet normale Dateien für das Speichern von Wikiseiten und
	anderen Informationen (Bilder, Suchindizes, alte Versionen usw.).
	Um DokuWiki betreiben zu können, <strong>muss</strong> Schreibzugriff auf die
	Verzeichnisse bestehen, in denen DokuWiki diese Dateien ablegt. Dieses
	Installationsprogramm kann diese Rechte nicht für dich setzen. Du musst dies
	manuell auf einer Kommando-Shell oder, falls du DokuWiki bei einem Fremdanbieter
	hostest, über FTP oder ein entsprechendes Werkzeug (z.B. cPanel) durchführen.</p>

<p>Dieses Skript hilft dir beim ersten Einrichten des Zugangsschutzes
	(<abbr title="access control list">ACL</abbr>) von DokuWiki, welcher eine
	Administratoranmeldung und damit Zugang zum Administrationsmenü ermöglicht.
	Dort kannst du dann weitere Tätigkeiten wie das Installieren von Plugins, dass
	Verwalten von Benutzern und das Ändern von Konfigurationseinstellungen durchführen.
	Das Benutzen der Zugangskontrolle ist nicht zwingend erforderlich, es erleichtert aber
	die Administration von DokuWiki.</p>

<p>Erfahrene Anwender oder Benutzer mit speziellen Konfigurationsbedürfnissen sollten
	die folgenden Links nutzen, um sich über
	<a href="http://dokuwiki.org/install">Installation</a>
	und <a href="http://dokuwiki.org/config">Konfiguration</a> zu
	informieren.</p>

