
<p>
    This tab gives you access to all available 3rd party plugins and templates for DokuWiki. Please be aware that installing 3rd party code may pose a <strong>security risk</strong>, you may want to read about <a href="https://www.dokuwiki.org/security#plugin_security" class="interwiki iw_doku" title="https://www.dokuwiki.org/security#plugin_security">plugin security</a> first.
</p>
