<p>Stran je namenjena pomoči pri prvi namestitvi in nastavitvi spletišča
	<a href="http://dokuwiki.org">Dokuwiki</a>. Več podrobnosti o tem je mogoče najti na straneh dokumentacije
	<a href="http://dokuwiki.org/installer">namestitve</a>.</p>

<p>Sistem DokuWiki uporablja običajne besedilne datoteke za shranjevanje
	wiki strani in drugih podrobnosti o teh straneh (npr. slike, kazalo, stare
	različice in drugo). Za pravilno delovanje <strong>mora</strong> imeti sistem DokuWiki prost
	dostop do map in datotek, zato je ključno, da so dovoljenja določena pravilno.
	Z namestilnikom ni mogoče spreminjanje dovoljenj map. To je običajno najlažje
	narediti v ukazni lupini ali pa, če spletišče Wiki gostuje na zunanjih
	strežnikih, preko nadzornika FTP povezave (npr. cPanel).</p>

<p>Z namestilnikom lahko spremenite nastavitve dostopa sistema Dokuwiki
	<abbr title="access control list">ACL</abbr>, ki omogoča skrbniško prijavo in dostop do upravljanja z vstavki,
	uporabniki, dovoljenji dostopa uporabnikov do določenih strani in do nekaterih
	nastavitev. Za delovanje sistema ACL ni bistven, vendar pa močno vpliva na
	enostavnost upravljanja strani in nastavitev.</p>

<p>Zahtevnejši uporabniki ali skrbniki s posebnimi zahtevami namestitve sistema
	si lahko več podrobnosti ogledajo na straneh <a href="http://dokuwiki.org/install">navodil namestitve</a> in <a href="http://dokuwiki.org/config">nastavitve</a>.</p>