<p>Ez az oldal segít a <a href="http://dokuwiki.org">DokuWiki</a> kezdeti
	beállításában és a konfigurálásban. További információ
	<a href="http://dokuwiki.org/installer">ezen az oldalon</a>
	található.</p>

<p>A DokuWiki hagyományos fájlokat használ a wiki oldalak és a hozzájuk
	kapcsolódó információk (pl. képek, keresési indexek, korábbi változatok stb.)
	tárolásához. Emiatt a sikeres működés érdekében a DokuWikinek írási joggal
	<strong>kell</strong> rendelkeznie azokon a könyvtárakon, ahová ezek a
	fájlok kerülnek. Ez a Beállító Varázsló nem képes beállítani a könyvtárakhoz
	a szükséges jogosultságokat, azokat közvetlenül parancssorból kell megtenni,
	illetve tárhelyszolgáltatás igénybevétele esetén FTP kliens segítségével,
	vagy a tárhelyszolgáltató által rendelkezésre bocsátott beállítóeszköz
	(pl. cPanel) segítségével.</p>

<p>A Beállító Varázsló felkészíti ezt a DokuWikit a hozzáférési listák
	(<abbr title="access control list">ACL</abbr>-ek) használatára. Így
	az Adminisztrátor felhasználóval hozzáférünk az admin menühöz, mellyel
	bővítményeket telepíthetünk, felhasználókat és hozzáférési jogokat
	kezelhetünk, valamint változtathatunk a konfigurációs beállításokon.
	Ez tulajdonképpen nem szükséges a DokuWiki működéséhez, de megkönnyíti
	az adminisztrációt.</p>

<p>Szakértők illetve speciális beállítást igénylő felhasználók további információkat
	találnak a következő oldalakon a <a href="http://dokuwiki.org/install">telepítéssel</a>
	és <a href="http://dokuwiki.org/config">konfigurálási lehetőségekkel</a> kapcsolatban.</p>
