<p>Šī lapa palīdz <a href="http://dokuwiki.org">Dokuwiki</a>pirmajā instalācijā un konfigurēšanā.
	Vairāk par instalatoru var lasīt tā
	<a href="http://dokuwiki.org/installer">documentācijas lapā</a>.</p>

<p>DokuWiki lapu un ar to saistīto datu (piem.: attēlu, meklēšanas indeksu, veco versiju utt.) glabāšanai lieto parastus failus.  Lai Dokuwiki veiksmīgi darbotos <strong>vajag</strong> rakstīšanas tiesības direktorijās, kur šie faili glabājas. Instalators tiesības nomainīt nespēj. Tas parasti jums jāizdara komandrindā vai ar FTP vadības paneli (piem. cPanel).</p>

<p>Instalators konfigurēs DokuWiki <abbr title="access control list">ACL</abbr> lietošanai, kas ļauj administratoram ielogoties un piekļūt DokuWiki administrēšanas izvēlnei, lai instalētu moduļus, pārvaldītu lietotājus, notiektu piekļuves tiesības Wiki lapām un mainītu DokuWiki konfigurāciju.
	Tas nav vajadzīgs, lai DokuWiki darbotos, bet ar to var vieglāk administrēt.</p>

<p>Pieredzējušiem lietotājiem ar īpašām prasībām  jāmeklē sīkākas ziņas
	<a href="http://dokuwiki.org/install">uzstādīšanas instrukcijā</a>
	un <a href="http://dokuwiki.org/config">konfigurēšanas padomos</a>.</p>