<p>Denne side hjælper til første-gangs installation og konfiguration af
	<a href="http://dokuwiki.org">Dokuwiki</a>. Mere information om denne
	installer er tilgængelig på dens egen
	<a href="http://dokuwiki.org/installer">dokumentations side</a>.</p>

<p>DokuWiki bruger almindelige filer til at gemme wiki sider og anden
	information relaterende til disse sider (f.eks. billeder, søge indeks, gamle
	udgaver, osv).  For at fungerer optimalt <strong>skal</strong> DokuWiki have
	skrive adgang til mapperne der holder disse filer. Denne installer er ikke
	istand til at opsætte mappe tilladelser. Det skal normalt udføres direkte i en
	kommando shell eller hvis du bruger hosting, gennem FTP eller dit hostings
	kontrol panel (f.eks. cPanel).</p>

<p>Denne installer vil opsætte din DokuWiki konfiguration for
	<abbr title="access control list">ACL</abbr>, hvilket tillader
	administrator login og adgang til DokuWiki's adminstrative menu til
	installation af udvidelser, håndtering af brugere, håndtering af adgang til wiki
	sider og ændring af konfigurations indstillinger. Det er ikke et krav for at
	DokuWiki kan fungere, men det vil gøre DokuWiki lettere at administre.</p>

<p>Erfarne brugere og brugere med specielle opsætningskrav burde bruge disse
	henvisninger for detaljer vedrørende
	<a href="http://dokuwiki.org/install">installations instruktioner</a>
	og <a href="http://dokuwiki.org/config">konfigurations indstillinger</a>.</p>
