<p>Iste pagina te assiste in le prime installation e configuration de
	<a href="http://dokuwiki.org">Dokuwiki</a>. Ulterior informationes super iste installator es disponibile in le
	<a href="http://dokuwiki.org/installer">pagina de documentation</a> de illo.</p>

<p>DokuWiki usa files ordinari pro le immagazinage de paginas wiki e altere informationes associate con iste paginas (p.ex. imagines, indices de recerca, versiones ancian, etc). Pro poter functionar, DokuWiki
	<strong>debe</strong> haber accesso de scriptura al directorios que contine iste files. Iste installator non es capabile de configurar le permissiones de directorios. Isto normalmente debe esser facite directemente con le linea de commandos, o si tu usa un albergo web, via FTP o via le pannello de controlo de tu albergo (p.ex. cPanel).</p>

<p>Iste installator configurara tu installation de DokuWiki pro
	<abbr title="listas de controlo de accesso">ACL</abbr>, lo que permitte crear contos administrator, e forni accesso al menu administrative de DokuWiki pro installar plug-ins, gerer usatores, gerer accesso a paginas wiki e alterar configurationes. Isto non es necessari pro le functionamento de DokuWiki, nonobstante, illo rendera DokuWiki plus facile de administrar.</p>

<p>Le usatores experte o con exigentias special pro le installation deberea usar iste ligamines pro detalios concernente le
	<a href="http://dokuwiki.org/install">instructiones de installation</a>
	e <a href="http://dokuwiki.org/config">configurationes</a>.</p>
