<p>Ова страница ће вам помоћи у инсталацији и подешавању <a href="http://dokuwiki.org">Dokuwiki-ја</a>. Више информација о инсталацији можете пронаћи у
	<a href="http://dokuwiki.org/installer">документацији</a>.</p>

<p>DokuWiki користи обичне датотеке за складиштење вики страница и осталих информација везаних за странице (слике, индекс претраге, старе преправке, итд.).
	Да би радио како треба DokuWiki као апликација <strong>мора</strong> имати могућност писања под фасциклама у којима се налазе ове датотеке. Овај програм за инсталацију нема могућност постављања дозвола за фасцикле. То се обично ради директно из командне линије или ако користите изнајмњени сервер, помоћу ФТПа или кроз Контролни панел (нпр. cPanel).</p>

<p>Овај програм за инсталацију DokuWiki-а ће поставити подешавања за
	Права приступа, које ће омогућити пријјављивање као администратор и приступ менију за инсталацију додатака, управљање корисницима, управљање приступом ка страницама и алтернатвна подешавања. Није неопходно да би DokuWiki радио, али ће вам олакшати администрацију.</p>

<p>Искуснији корисници и корисници са посебним захтевима би требало да погледају следеће линкове са детаљним упутствима о
	<a href="http://dokuwiki.org/install">инструкцијама за инсталацију</a>
	и <a href="http://dokuwiki.org/config">подешавањима</a>.</p>