<p>Esta páxina é unha axuda na primeira vez que se instala e configura o
	<a href="http://dokuwiki.org">Dokuwiki</a>. Se queres máis información
	verbo deste instalador está dispoñible na súa propia
	<a href="http://dokuwiki.org/installer">páxina de documentación</a>.</p>

<p>O DokuWiki emprega arquivos normais para a almacenaxe das páxinas do wiki
	e outra información asociada coas mesmas (p.e. imaxes, índices de procura,
	revisións antigas, etc).  Por iso, para poder operar correctamente, o DokuWiki
	<strong>precisa</strong> ter acceso de escritura aos directorios que conteñen
	eses arquivos. Este instalador non é quen de configurar os permisos dos directorios.
	Isto debe facerse normalmente de xeito directo na liña de comandos ou, se estás a
	usar unha hospedaxe, a través do FTP ou do panel de control da túa hospedaxe (p.e.
	o cPanel).</p>

<p>Este instalador configurará o teu DokuWiki para o uso da
	<abbr title="access control list">ACL</abbr>, o cal permitirá ao administrador
	iniciar sesión e acceder ao menú de administración do DokuWiki para instalar extensións,
	xestionar usuarios e accesos ás páxinas do wiki, ademais de modificar a configuración.
	Non é imprescindíbel para o funcionamento do DokuWiki, porén, fai moito máis doada a
	administración do mesmo.</p>

<p>Os usuarios expertos ou con requisitos especiais de configuración poden visitar
	as seguintes ligazóns para obter pormenores relativos ás
	<a href="http://dokuwiki.org/install">instruccións de instalación</a>
	e á <a href="http://dokuwiki.org/config">configuración</a>.</p>
