<p>Táto stránka sprevádza prvou inštaláciou a konfiguráciou
	<a href="http://dokuwiki.org">Dokuwiki</a>. Viac informácií o tomto inštalátore je dostupných na jeho
	<a href="http://dokuwiki.org/installer">dokumentačnej stránke</a>.</p>

<p>DokuWiki používa bežné súbory pre ukladanie wiki stránok a iných informácií
	priradených k týmto stránkam (napr. obrázkov, vyhľadávacích indexov, starých
	revízií). Ak chcete úspešne narábať s DokuWiki, <strong>musí</strong>
	mať práva pre zápis do adresárov, kde sa ukladajú tieto súbory. Tento inštalátor
	nie je schopný nastaviť prístupové práva pre adresáre. Je potrebné to urobiť
	priamo cez príkazový riadok alebo, ak využívate webhosting, cez FTP alebo vaše
	webhostingové administračné rozhranie.</p>

<p>Tento inštalátor nastaví <abbr title="access control list - zoznam prístupových práv">ACL</abbr>
	konfiguráciu vašej Dokuwiki. Umožňuje vytvoriť administrátorské konto
	s prístupom do administračného menu s možnosťou inštalácie pluginov, správy
	užívateľov, správy prístupových práv k wiki stránkam a zmeny konfiguračných
	nastavení. Nie je nevyhnutné pre používanie Dokuwiki, ale umožňuje to ľahšie
	spravovať Dokuwiki.</p>

<p>Skúsení užívatelia alebo užívatelia so špeciálnymi požiadavkami môžu použiť
	tieto odkazy pre bližšie informácie týkajúce sa
	<a href="http://dokuwiki.org/install">inštalačných pokynov</a>
	a <a href="http://dokuwiki.org/config">konfiguračných nastavení</a>.</p>
