<p>This page assists in the first time installation and configuration of
	<a href="http://dokuwiki.org">Dokuwiki</a>. More info on this
	installer is available on it's own
	<a href="http://dokuwiki.org/installer">documentation page</a>.</p>

<p>DokuWiki uses ordinary files for the storage of wiki pages and other
	information associated with those pages (e.g. images, search indexes, old
	revisions, etc).  In order to operate successfully DokuWiki
	<strong>must</strong> have write access to the directories that hold those
	files.  This installer is not capable of setting up directory permissions. That
	normally needs to be done directly on a command shell or if you are using hosting,
	through FTP or your hosting control panel (e.g. cPanel).</p>

<p>This installer will setup your DokuWiki configuration for
	<abbr title="access control list">ACL</abbr>, which in turn allows administrator
	login and access to DokuWiki's admin menu for installing plugins, managing
	users, managing access to wiki pages and alteration of configuration settings.
	It isn't required for DokuWiki to operate, however it will make Dokuwiki easier
	to administer.</p>

<p>Experienced users or users with special setup requirements should use these links
	for details concerning
	<a href="http://dokuwiki.org/install">installation instructions</a>
	and <a href="http://dokuwiki.org/config">configuration settings</a>.</p>
