<p>Ця сторінка допомагає при першій установці та налаштуванні <a href="http://dokuwiki.org">ДокуВікі</a>.
	Більше інформації про програму установки можна знайти на <a href="http://dokuwiki.org/installer">сторінці документації</a>.</p>

<p>ДокуВікі використовую звичайні файли для зберігання сторінок вікі та іншої інформації,
	щодо цих сторінок (наприклад, зображень, індексів пошуку, старих ревізій та ін.). Для
	успішного функціонування ДокуВікі <strong>має</strong> мати права на запис для папок, що
	містять ці файли. Ця програма установки не може змінювати права доступу. Звичайно це
	робиться за допомогою інтерпретатора shell, або, якщо ви використовуєте хостинг,
	за допомогою FTP або панелі управління хостингом (наприклад cPanel).</p>

<p>Ця програма установки налаштує вашу ДокуВікі для використання
	<abbr title="список контролю доступу">ACL</abbr>, що, в свою чергу,
	дозволить адміністратору входити до адміністративного меню для установки доданків,
	керування користувачами, керування правами доступу до сторінок Вікі та змін параметрів
	конфігурації. Це не є обов'язковим для роботи ДокуВікі, але зробить життя адміністратора
	значно легшим.</p>

<p>Досвідчені користувачі, або користувачі, що мають особливі вимоги до налагодження, мають
	використовувати ці посилання для детальної інформації, щодо
	<a href="http://dokuwiki.org/install">інструкцій з установки</a>
	та <a href="http://dokuwiki.org/config">параметрів конфігурації</a>.</p>
