<p>Esta página lo asiste en la primera vez que instala y configura
	<a href="http://dokuwiki.org">Dokuwiki</a>.
	Más información sobre este instalador está disponible en la
	<a href="http://dokuwiki.org/installer">página de documentación</a>.
</p>

<p>DokuWiki usa ficheros comunes para el almacenamiento de las páginas del wiki y otra información asociada a esas páginas (por ejemplo, imágenes, índices de archivos, revisiones viejas, etc). Para funcionar correctamente DokuWiki <strong>debe</strong> tener permisos de escritura en los directorios que contienen esos ficheros. Este instalador no es capaz de establecer permisos en directorios. Normalmente eso debe ser hecho a través de una consola de comandos o si usted usa servicios de hosting a través de FTP o el panel de control brindado por su hosting (e.g. cPanel).</p>

<p>Este instalador configurará una <abbr title="lista de control de acceso">ACL</abbr>, que a su vez permite el acceso al administrador y acceso a los menúes de administración para instalación
	de plugins, administración de usuarios, administración de permisos para las páginas wiki y modificación de la configuración. A pesar que no es necesario para que DokuWiki funcione, hará que sea más fácil la administración.</p>

<p>Usuarios experimentados o usuarios con requerimientos especiales deben usar estos enlaces para detalles concernientes a
	<a href="http://dokuwiki.org/install">instrucciones de instalación</a>
	y <a href="http://dokuwiki.org/config">configuración</a>.</p>
