<p>Denna sida hjälper dig med nyinstallation och inställningar för
	<a href="http://dokuwiki.org">Dokuwiki</a>. Mer information om
	installationsprogrammet finns på dess egen
	<a href="http://dokuwiki.org/installer">dokumentationssida</a>.</p>

<p>DokuWiki använder vanliga filer för att lagra wikisidor och annan
	information som här till sidorna (till exempel bilder, sökindex, gamla
	versioner, etc).  För att kunna fungera
	<strong>måste</strong> DokuWiki ha skrivrättigheter i de kataloger där
	filerna ligger. Detta installationsprogram kan inte ändra rättigheter
	på kataloger. Det måste normalt göras direkt på en kommandorad, eller
	om du använder ett webbhotell, via FTP eller din leverantörs kontrollpanel
	(till exempel cPanel).</p>

<p>Detta installationsprogram anpassar inställningarna i din DokuWiki för
	<abbr title="access control list">ACL</abbr> (behörighetslista), vilket i sin tur gör att
	administratören kan logga in och komma åt DokuWikis administrationsmenu för
	att installera insticksmoduler, hantera användare, hantera behörighet till
	wikisidor och ändra inställningar. ACL är inget krav för att DokuWiki ska
	fungera, men det förenklar administrationen.</p>

<p>Erfarna användare, eller användare med särskilda behov, kan använda dessa
	länkar för att hitta mer detaljer om
	<a href="http://dokuwiki.org/install">installation</a>
	och <a href="http://dokuwiki.org/config">inställningar</a>.</p>
