
<p>
    These are the templates currently installed in your DokuWiki. You can select the template to be used in the <span class="curid"><a href="/dokumentation/doku.php?id=wiki:welcome&amp;do=admin&amp;page=config" class="wikilink1" title="wiki:welcome">Configuration Manager</a></span>.
</p>
