<p>Tato stránka vám pomůže při první instalaci a konfiguraci
	<a href="http://dokuwiki.org">Dokuwiki</a>. Více
	informací o tomto instalátoru naleznete v jeho vlastní <a
		href="http://dokuwiki.org/installer">dokumentaci</a>.</p>

<p>DokuWiki používá obyčejné soubory pro uložení wiki stránek a dalších informací
	spojených s nimi (např. obrázků, vyhledávacích indexů, starších verzí). Aby DokuWiki
	správně fungovala <strong>musí</strong> mít přístup k adresářům, kde jsou uloženy
	tyto soubory. Tento instalátor není schopen sám nastavit přístupová práva k souborům
	a adresářům. To se obyčejně dělá přímo v shellu nebo, používáte-li hosting, přes
	FTP nebo ovládací panel vašeho hostingu (např. cPanel).</p>

<p>Tento instalátor nastaví <abbr title="access control list">ACL</abbr>
	(přístupová práva uživatelů) pro vaši DokuWiki, což umožní správci přihlásit
	se do administrační části DokuWiki a tam instalovat pluginy, spravovat uživatele,
	nastavovat přístup k wiki stránkám a měnit další nastavení wiki. Není to
	nutné, ale zpříjemní to správu DokuWiki.</p>

<p>Zkušení uživatelé nebo uživatelé se speciálními požadavky by se
	měli podívat na následující stránky pro další informace ohledně
	<a href="http://dokuwiki.org/install">instalace</a> a
	<a href="http://dokuwiki.org/config">nastavení</a> DokuWiki.</p>

