<p>Questa pagina ti assisterà durante l'installazione e la prima configurazione di
	<a href="http://dokuwiki.org">Dokuwiki</a>. Ulteriori informazioni sulla
	procedura di installazione sono reperibili nella
	<a href="http://dokuwiki.org/installer">pagina di documentazione</a>.</p>

<p>DokuWiki utilizza dei normali file per la memorizzazione delle pagine del wiki e
	delle altre informazioni associate a tali pagine (es. immagini, indici per la ricerca, vecchie
	revisioni, ecc.).  Per poter operare correttamente DokuWiki
	<strong>deve</strong> accedere in scrittura alle directory che contengono tali
	file.  La procedura di installazione non è in grado di impostare i permessi sulle directory. Questo
	deve normalmente essere fatto direttamente da linea di comando oppure, se stai usando un servizio di hosting,
	attraverso FTP o dal pannello di controllo del servizio di hosting (es. cPanel).</p>

<p>Questa procedura di installazione imposterà la configurazione di DokuWiki per l'uso di
	<abbr title="lista controllo accessi">ACL</abbr>, che consente all'amministratore di
	collegarsi e accedere al menu di amministrazione di DokuWiki per installare plugin, gestire
	utenti, gestire gli accessi alle pagine wiki e modificare le impostazioni del wiki.
	Non è necessario per il funzionamento di DokuWiki, ma renderà Dokuwiki più facile
	da amministrare.</p>

<p>Gli utenti esperti o con particolari esigenze di installazione dovrebbero far riferimento ai
	seguenti link per dettagli sulle
	<a href="http://dokuwiki.org/install">istruzioni per l'installazione</a>
	e sui <a href="http://dokuwiki.org/config">parametri di configurazione</a>.</p>
