<p>Mae'r dudalen hon yn eich helpu chi i arsefydlu am y tro cyntaf a gyda ffurfweddu
	<a href="http://dokuwiki.org">Dokuwiki</a>. Mae mwy o wybodaeth ar yr arsefydlwr hwn
	ar <a href="http://dokuwiki.org/installer">dudalen ddogfennaeth</a> ei hun.</p>

<p>Mae DokuWiki yn defnyddio ffeiliau arferol ar gyfer storio tudalennau wici a
	gwybodaeth gysylltiol gyda'r tudalennau hynny (e.e. delweddau, indecsau chwilio,
	hen adolygiadau, ac ati).  Er mwyn gweithredu'n llwyddiannus mae'n
	<strong>rhaid</strong> i DokuWiki gael yr hawl i ysgrifennu i'r ffolderi sydd yn
	dal y ffeiliau hynny. 'Dyw'r arsefydlwr hwn ddim yn gallu gosod hawliau ffolderi.
	Bydd hwn, fel rheol, yn gorfod cael ei wneud yn uniongyrchol gydag anogwr gorchymyn,
	neu os ydych chi'n defnyddio gwesteiwr, drwy FTP neu eich panel gwesteio (e.e.
	cPanel).</p>

<p>Bydd yr arsefydlwr hwn yn gosod eich ffurfwedd DokuWiki ar gyfer
	<abbr title="access control list">ACL</abbr>, sydd yn ei dro yn caniat&aacute;u
	mewngofnodi gweinyddwr a mynediad i ddewislen gweinyddu DokuWiki ar gyfer arsefydlu
	ategion, rheoli defnyddwyr, rheoli mynediad i dudalennau wici a newid gosodiadau
	ffurfwedd. 'Sdim angen hwn ar DokuWiki er mwyn gweithio, ond bydd yn gwneud
	Dokuwiki yn haws i'w weinyddu.</p>

<p>Dylai defnyddwyr profiadol neu'r rheiny gydag anghenion gosodiad rrbennig special
	ddefnyddio'r dolenni hyn am wybodaeth parthed
	<a href="http://dokuwiki.org/install">canllawiau arsefydlu</a>
	and <a href="http://dokuwiki.org/config">gosodiadau ffurfwedd</a>.</p>
