<p>이 페이지는 <a href="http://dokuwiki.org">도쿠위키</a>의 첫
	설치와 환경 설정을 도와줍니다. 이 설치 프로그램에 대한 자세한 정보는
	<a href="http://dokuwiki.org/ko:installer">설명문 페이지</a>에서
	볼 수 있습니다.</p>

<p>도쿠위키는 위키 문서와 해당 문서와 관련된 정보(예를 들어 그림,
	검색 색인, 이전 판 문서 등)를 저장하기 위해 일반적인 텍스트 파일을
	사용합니다. 성공적으로 작동하려면 도쿠위키는 이 파일을 담고
	있는 디렉토리에 대한 쓰기 권한이 <strong>있어야</strong> 합니다.
	이 설치 프로그램은 디렉토리 권한을 설정할 수 없습니다. 보통
	직접 명령 셸에 수행하거나 호스팅을 사용한다면, FTP나 호스팅
	제어판(예를 들어 CPanel)을 통해 수행해야 합니다.</p>

<p>이 설치 프로그램은 관리자로 로그인하고 나서 플러그인 설치, 사용자 관리,
	위키 문서로의 접근 관리와 환경 설정을 바꾸기 위한 도쿠위키의 관리 메뉴에
	접근할 수 있는, <acronym title="access control list; 접근 제어 목록">ACL</acronym>에
대한 도쿠위키 환경을 설정합니다. 도쿠위키가 작동하는데 필요하지 않지만,
도쿠위키를 쉽게 관리할 수 있도록 해줍니다.</p>

<p>숙련된 사용자나 특수한 설치가 필요한 사용자에게 자세한 내용은
	<a href="http://dokuwiki.org/ko:install">설치 지침</a>과
	<a href="http://dokuwiki.org/ko:config">환경 설정</a> 링크를 사용해야 합니다.</p>
