<p>این صفحه به شما در نصب و تنظیم
	<a href="http://dokuwiki.org">Dokuwiki</a> کمک می‌کند. اطلاعات بیشتری در این مورد را می‌توانید در <a href="http://dokuwiki.org/installer">بخش راهنما</a> مشاهده کنید.</p>

<p>DokuWiki از فایل‌های معمولی برای ذخیره‌ی صفحات ویکی و اطلاعات مربوط به آن‌ها استفاده می‌کند (مثل تصاویر، فهرست‌های جستجو، نگارش‌های پیشین و غیره). برای نصب موفقیت آمیز DokuWiki
	<strong>باید</strong> دسترسی نوشتن برای شاخه‌های این فایل‌ها داشته باشید. این کار باید توسط دستورات خط فرمان و یا دسترسی FTP و یا از طریق کنترل پنل خدمات میزبانی‌تون انجام شود. </p>

<p>این برنامه دسترسی‌های DokuWiki را برای شما تنظیم خواهد کرد،
	به این معنی که مدیر سیستم می‌تواند به صفحه‌ی مدیران وارد شود، افزونه نصب کنید، کاربران را مدیریت کند، دسترسی به صفحات ویکی را مدیریت کند و یا تنظیمات را تغییر دهد.</p>

<p>برای اطلاعات بیشتر در مورد نصب می‌توانید از این پیوند‌ها استفاده کنید
	<a href="http://dokuwiki.org/install">روش نصب</a>
	و  <a href="http://dokuwiki.org/config">تنظیمات پیکربندی</a>.</p>