<p>Ta strona ma na celu pomóc Ci w instalacji i konfiguracji
	<a href="http://dokuwiki.org">Dokuwiki</a>.
	Więcej informacji o instalatorze znajdziesz w
	<a href="http://dokuwiki.org/installer">dokumentacji instalatora</a>.</p>

<p>DokuWiki używa zwykłych plików do przechowywania zawartości stron oraz wszelkich
	innych informacji takich jak obrazki, poprzednie wersje strony, itp.
	Żeby DokuWiki mogło poprawnie działać <strong>musisz</strong>
	nadać prawo zapisu do katalogu zawierającego te pliki. Instalator nie może wykonać
	tych czynności. Musisz zrobić to za pomocą polecenia powłoki, klienta FTP
	lub panelu kontrolnego Twojego dostawcy usług serwerowych.</p>

<p>Instalator pomoże Ci w konfiguracji uprawnień
	<abbr title="access control list">ACL</abbr>,
	które z kolei umożliwią Ci założenie konta administratora oraz umożliwią dostęp
	do czynności administracyjnych takich jak instalowanie wtyczek, zarządzanie kontami,
	zarządzania uprawnieniami do stron oraz konfiguracji wiki. Użycie tego instalatora
	nie jest konieczne, jego celem jest tylko ułatwienie administracji DokuWiki.</p>

<p>Zaawansowani użytkownicy lub użytkownicy mający specjalne wymagania powinni
	zapoznać się z
	<a href="http://dokuwiki.org/install">instrukcją instalacji</a>
	oraz <a href="http://dokuwiki.org/config">instrukcją konfiguracji</a>.</p>
