/**
 * This file provides the styles for printing.
 *
 * @todo: improve and finish
 */

body {
    font: normal 87.5%/1.3 Garamond, Baskerville, "Hoefler Text", "Nimbus Roman No9 L", serif;
    background-color: #fff;
    color: #000;
}

/* hide certain sections */
.a11y,
audio,
video,
#dokuwiki__header .tools,
#dokuwiki__aside,
.dokuwiki .breadcrumbs,
.dokuwiki .pageId,
#dw__toc,
h3.toggle,
#dokuwiki__pagetools,
#dokuwiki__footer {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
caption,
legend {
    clear: both;
}
ul {
    list-style: disc outside;
}
ol {
    list-style: decimal outside;
}
ol ol {
    list-style-type: lower-alpha;
}
ol ol ol {
    list-style-type: upper-roman;
}
ol ol ol ol {
    list-style-type: upper-alpha;
}
ol ol ol ol ol {
    list-style-type: lower-roman;
}

a:link,
a:visited {
    text-decoration: none;
    border-bottom: 1pt dotted;
    color: #333;
    background-color: inherit;
}

/* display href after link */
a.urlextern:after,
a.interwiki:after,
a.mail:after {
    content: " [" attr(href) "]";
    font-size: 90%;
}

/* code blocks */
pre {
    font-family: monospace;
}
dl.code dt,
dl.file dt {
    font-weight: bold;
}

mark {
    font-weight: bold;
}

/* images */
img {
    border-width: 0;
    vertical-align: middle;
}
img.media {
    margin: .2em 0;
}
img.medialeft {
    margin: .2em 1em .2em 0;
}
img.mediaright {
    margin: .2em 0 .2em 1em;
}
img.mediacenter {
    margin: .2em auto;
}

blockquote {
    padding: 0 10pt;
    margin: 0;
    border: solid #ccc;
    border-width: 0 0 0 2pt;
}
[dir=rtl] blockquote {
    border-width: 0 2pt 0 0;
}

/* tables */
.dokuwiki div.table {
    margin-bottom: 1.4em;
}
table {
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    border: 1pt solid #ccc;
}
th,
td {
    padding: 3pt 5pt;
    margin: 0;
    vertical-align: top;
    border: 1pt solid #666;
}
th {
    font-weight: bold;
    text-align: left;
}
[dir=rtl] th {
    text-align: right;
}


/*____________ a bit of layout ____________*/

#dokuwiki__header {
    border-bottom: 2pt solid #ccc;
}
#dokuwiki__header h1 {
    font-size: 1.5em;
}
#dokuwiki__header h1 a {
    text-decoration: none;
    border-width: 0;
}
#dokuwiki__header h1 img {
    float: left;
    margin-right: .5em;
}
[dir=rtl] #dokuwiki__header h1 img {
    float: right;
    margin-right: 0;
    margin-left: .5em;
}

.dokuwiki div.footnotes {
    clear: both;
    border-top: 1pt dotted #999;
    margin-top: 10pt;
}

.dokuwiki div.docInfo {
    font-size: 90%;
    text-align: right;
    clear: both;
    padding-top: 2pt;
    border-top: 1pt solid #999;
    margin-top: 10pt;
}
[dir=rtl] .dokuwiki div.docInfo {
    text-align: left;
}
