<p>Tämä sivu avustaa <a href="http://dokuwiki.org">Dokuwikin</a> ensiasennuksessa ja
	asetuksissa. Lisätietoa asennusohjelmasta löytyy ohjelman
	<a href="http://dokuwiki.org/installer">dokumentaatiosta</a>.</p>

<p>DokuWiki käyttää tavallisia tiedostoja wiki-sivujen, sekä muiden niihin liittyvien
	tietojen kuten kuvien, hakuindeksien, versionhallinnan jne. tallentamiseen. Toimiakseen
	oikein DokuWikillä <strong>täytyy</strong> olla kirjoitusoikeus niihin hakemistoihin joissa nämä
	tiedostot sijaitsevat. Asennusohjelma ei pysty asettamaan näitä oikeuksia. Tämä täytyy
	useimmiten tehdä suoraan komentoriviltä tai muulla, esimerkiksi
	internet-palveluntarjoajan määrittämällä tavalla, kuten FTP -ohjelmalla tai erillisen
	asetusvalikon kautta. (cPanel).</p>

<p>Asennusohjelma määrittelee DokuWikin käyttöoikeudet (<abbr title="access control list">ACL</abbr>),
	jotka mahdollistavat ylläpitäjän sisäänkirjautumisen ja pääsyn DokuWikin ylläpito -valikkoon,
	josta voidaan asentaa plugineja, hallita käyttäjätietoja, wiki-sivujen luku- ja
	kirjoitusoikeuksia sekä muita asetuksia. Käyttöoikeuksien käyttäminen ei ole pakollista,
	mutta se helpottaa DokuWikin ylläpitämistä.</p>

<p>Kokeneille käyttäjille tai käyttäjille joilla on erityisvaatimuksia asennukselle
	löytyy lisätietoa <a href="http://dokuwiki.org/install">asennuksesta</a> sekä
	<a href="http://dokuwiki.org/config">asetuksista</a>.</p>
