<p>Страницата помага при инсталиране за първи път и настройване на
	<a href="http://dokuwiki.org">Dokuwiki</a>.  Повече информация
	за инсталатора ще намерите в <a href="http://dokuwiki.org/installer">документацията му</a>.</p>

<p>Dokuwiki ползва обикновени файлове за съхраняване на страниците и информацията свързана с тях (примерно картинки, търсения, стари версии, и др.).
	За да функционира нормално DokuWiki
	<strong>трябва</strong> да има право за писане в директориите, които съдържат тези
	файлове. Инсталаторът не може да настройва правата на директориите.
	Вие трябва да направите това директно от командният ред или ако ползвате хостинг през FTP или контролния панела на хоста (примерно cPanel).</p>

<p>Инсталаторът ще настрои вашата DokuWiki конфигурация на
	<abbr title="списъка за достъп">ACL</abbr>, което ще позволи на администратора да се впише и ползва администраторското меню в DokuWiki за инсталиране на приставки, контрол на потребителите, управление на достъпа до страниците и промяна на останалите настройки. Това не е необходимо за функционирането на DokuWiki, но прави администрирането по-лесно.</p>

<p>Опитните потребители и потребителите със специални изисквания към настройките имат на разположение допълнителна информация относно <a href="http://dokuwiki.org/install">инсталирането</a>
	и <a href="http://dokuwiki.org/config">настройването</a>.</p>
