<p>Denne siden assisterer under førstegangs installasjon og konfigurasjon av
	<a href="http://dokuwiki.org">Dokuwiki</a>. Mer informasjon for denne
	installasjonen er tilgjengelig på
	<a href="http://dokuwiki.org/installer">dokumentasjonssiden</a>.</p>

<p>DokuWiki bruker vanlige filer for lagring av wikisider og annen
	informasjon assosiert med disse sidene (f.eks. bilder, søkeindekser, eldre
	revisjoner osv.). For å kunne virke <strong>må</strong> DokuWiki
	ha skrivetilgang til de mapper som lagrer disse filene.
	Denne installasjonen kan ikke sette opp mapperettigheter. Det må normalt
	gjøres direkte fra et kommandoskall, eller om du bruker en leverandør,
	via FTP eller ditt kontrollpanel på tjener (f.eks. cPanel).</p>

<p>Denne installasjonen vil sette opp din DokuWiki-konfigurasjon for
	<abbr title="access control list">ACL</abbr>, som igjen tillater administrator
	innlogging og tilgang til DokuWikiens administratormeny for installasjon av tillegg,
	brukerbehandling, adgangskontrollbehandling til wikisider og endring av konfigurasjon.
	Det er ikke påkrevd for at DokuWiki skal virke, men det vil gjøre Dokuwiki enklere å
	administrere.</p>

<p>Erfarne brukere eller brukere med spessielle oppsettingskrav bør se på disse lenkene
	for detaljer rundt
	<a href="http://dokuwiki.org/install">installasjonsinstrukser</a>
	og <a href="http://dokuwiki.org/config">konfigurasjonsinnstillinger</a>.</p>
