<?php include($_SERVER['DOCUMENT_ROOT'].'/config/vars.inc.php');?>
<div class="panel panel-default addrowsize panel-addrowsize">
	<!--loginform -->
	<form class="addlinktocat" action="php/submit.php" method="post">
		<!-- Usernamefield -->
		<input type="text" class="form-control" name="title" placeholder="Title" autofocus>
		<!-- Passwordfield -->
		<input type="text" class="form-control" name="link" placeholder="Link">
		<!-- first row -->
        <select class="selectpicker" name="addlinktocategory">
            <?php include($_SERVER['DOCUMENT_ROOT'].'/php/category.php');?>
        </select>
		<div class="row">
			<!-- first half of bootstrap gridsystem in second row -->
			<div class="col-xs-6 col-sm-6 col-md-6">
				<!-- Registerbutton -->
				<input class="btn btn-lg btn-primary btn-block adjustbutton" type="submit" value="Submit" name="addlinktocat">
			</div>
			<!-- second half of bootstrap gridsystem in second row -->
			<div class="col-xs-6 col-sm-6 col-md-6">
				<!-- Resetbutton -->
				<input class="btn btn-lg btn-danger btn-block adjustbutton" type="reset" value="Reset">
			</div>
		</div>
		<!-- end loginform -->
	</form>
</div>
</body>
</html>