<?php include($_SERVER['DOCUMENT_ROOT'].'/config/vars.inc.php');?>
<div class="panel panel-default">
	<h1><span class="label label-primary administration-headline">Administration</span></h1>
	<div class="administration">
	<h4><span class="label label-info">Add User to see category</span></h4>
	<form action="php/submit.php" method="post">
		<div class="row">
			<!-- first 1/3 in first row-->
			<div class="col-xs-4 col-sm-4 col-md-4">
				<!-- field for input title -->
				<input type="text" class="form-control" name="userasreader" placeholder="Username" autofocus>
			</div>
			<!-- second 1/3 in first row-->
			<div class="col-xs-4 col-sm-4 col-md-4">
				<!-- selectcats -->
				<select class="selectpicker" name="addusertocatory">
					<?php include($_SERVER['DOCUMENT_ROOT'].'/php/category.php');?>
				</select>
			</div>
			<!-- third 1/3 in first row-->
			<div class="col-xs-4 col-sm-4 col-md-4">
				<!-- submit adduser to cat -->
				<input class="btn btn-lg btn-primary btn-block adjustbutton" type="submit" value="Add" name="addusertocat">
			</div>
		</div>
		<h4><span class="label label-info">Add User as editor to category</span></h4>
		<div class="row">
			<!-- first 1/3 in second row-->
			<div class="col-xs-4 col-sm-4 col-md-4">
				<input type="text" class="form-control" name="useraseditor" placeholder="Username" autofocus>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<select class="selectpicker" name="addusertocategoryasedit">
					<?php include($_SERVER['DOCUMENT_ROOT'].'/php/category.php');?>
				</select>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<input class="btn btn-lg btn-primary btn-block adjustbutton" type="submit" value="Add" name="adduseraseditortocat">
			</div>
		</div>
		<h4><span class="label label-info">Add Category</span></h4>
		<div class="row">
			<!-- first 1/3 in second row-->
			<div class="col-xs-4 col-sm-4 col-md-4">
				<input type="text" class="form-control" name="addcatname" placeholder="Categoryname">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<select class="selectpicker" name="privateorpublic">
					<option value="false">public</option>
					<option value="true">private</option>
				</select>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<input class="btn btn-lg btn-primary btn-block adjustbutton" type="submit" value="Add" name="addcat">
			</div>
		</div>
		<h4><span class="label label-info">Bann User</span></h4>
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4">
				<input type="text" class="form-control" name="bannusername" placeholder="Username">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<input type="text" class="form-control" name="bannreason" placeholder="Reason">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<!-- Registerbutton -->
				<input class="btn btn-lg btn-primary btn-block adjustbutton" type="submit" value="Bann" name="bannuser">
			</div>
		</div>
	</form>
</div>
</body>
</html>