<footer>
	<div class="panel panel-default" >
        <nav class="navbar navbar-default">
			<form action="php/submit.php" method="post">
				<?php include($_SERVER['DOCUMENT_ROOT'].'/php/logout.php');?>
			</form>
			<p class="navbar-text">&copy; Copyright 2017 Elytscha</p>
			<p class="navbar-text"><a href="https://greendama.at/linksaver/dokumentation/doku.php?id=wiki:welcome">User Manual</a></p>

        </nav>
	</div>
</footer>
</div>
</body>
</html>