<?php include($_SERVER['DOCUMENT_ROOT'].'/config/vars.inc.php');?>
<!-- second container, contains loginform -->
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default panel-table">
			<div class="panel-heading">
				<div class="row">
					<div class="col col-xs-6">
						<h3 class="panel-title">Linksaver</h3>
					</div>
					<div class="col col-xs-6 text-right">
						<div class="pull-right">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-success btn-filter active" data-target="completed">
									<input type="radio" name="options" id="option1" autocomplete="off" checked>
									Activated
								</label>
								<label class="btn btn-warning btn-filter" data-target="pending">
									<input type="radio" name="options" id="option2" autocomplete="off"> Pending
								</label>
								<label class="btn btn-default btn-filter" data-target="all">
									<input type="radio" name="options" id="option3" autocomplete="off"> All
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table id="mytable" class="table table-striped table-bordered table-list">
					<thead>
                        <tr>
                            <th class="col-tools"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            </th>
                            <th class="hidden-xs">User</th>
                            <th class="col-text">Category</th>
                            <th class="col-text">Title</th>
                            <th class="col-text">Link</th>
                        </tr>
					</thead>
					<tbody>
                        <?php include($_SERVER['DOCUMENT_ROOT'].'/php/links.php');?>
					</tbody>
				</table>

			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col col-xs-offset-3 col-xs-6">
						<nav aria-label="Page navigation" class="text-center">
							<form method="post" action="php/submit.php">
								<select class="selectpicker" name="selectedcategorys[]" multiple>
									<?php include($_SERVER['DOCUMENT_ROOT'].'/php/category.php');?>
								</select>
								<input class="btn btn-lg btn-primary btn-block adjustbutton" type="submit" value="Select Categorys">
							</form>
						</nav>
					</div>
					<div class="col col-xs-3">
						<div class="pull-right">
							<form action="php/submit.php" method="post" id="addrow">
							</form>
							<button type="submit" form="addrow" name="addrow" class="btn btn-success">
								<span class="glyphicon glyphicon-plus"
									  aria-hidden="true"></span>
								Add row
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

