<?php include($_SERVER['DOCUMENT_ROOT'].'/config/vars.inc.php');?>
<div class="panel panel-default">
	<!--loginform -->
	<form class="loginform" action="php/submit.php" method="post">
		<!-- Usernamefield -->
		<input type="text" class="form-control" name="username" placeholder="Username" autofocus>
		<!-- Passwordfield -->
		<input type="password" class="form-control" name="password" placeholder="Password">
		<!-- row which contains Remember & Register button -->
		<div class="row">
			<!-- half of the grid system which bootstrap provides -->
			<div class="col-xs-6 col-sm-6 col-md-6">
				<span class="button-checkbox">
					<!-- Remember me button -->
					<button type="button" class="btn btn-lg btn-secondary btn-block adjustbutton" data-color="info">Remember</button>
					<!-- invisible checkbox for Remember me Button -->
					<input type="checkbox" id="remember_me" class="hideit" name="rememberme">
				</span>
			</div>
			<!-- other half of the grid system -->
			<div class="col-xs-6 col-sm-6 col-md-6">
				<!-- Login button -->
				<input class="btn btn-lg btn-success btn-block adjustbutton" type="submit" value="Login" name="login">
			</div>
		</div>
		</label>
		<!-- second row -->
		<div class="row">
			<!-- first half of bootstrap gridsystem in second row -->
			<div class="col-xs-6 col-sm-6 col-md-6">
				<!-- Registerbutton -->
				<input class="btn btn-lg btn-primary btn-block adjustbutton" type="submit" value="Register" name="forwardtoregister">
			</div>
			<!-- second half of bootstrap gridsystem in second row -->
			<div class="col-xs-6 col-sm-6 col-md-6">
				<!-- Resetbutton -->
				<input class="btn btn-lg btn-danger btn-block adjustbutton" type="reset" value="Reset">
			</div>
		</div>
		<!-- end loginform -->
	</form>
</div>
</body>
</html>