<?php include($_SERVER['DOCUMENT_ROOT'].'/config/vars.inc.php');?>
<!-- first container for Heading and maybe some navigation-->
<div class="container title text-center">
	<h1>Linksaver</h1>
	<div id="navbar">
		<ul class="nav nav-tabs">
			<?php include($_SERVER['DOCUMENT_ROOT'].'/php/navbar_administration.php');?>
		</ul>
	</div>
</div>
<div class="container main">