<?php include($_SERVER['DOCUMENT_ROOT'].'/config/vars.inc.php'); ?>
<div class="panel panel-default">
	<!--loginform -->
	<form class="loginform" action="php/submit.php" method="post">
		<!-- Firstname -->
		<input type="text" class="form-control" name="firstname" placeholder="Firstname" required>
		<!-- Lastname -->
		<input type="text" class="form-control" name="lastname" placeholder="Lastname" required>
		<!-- Username -->
		<input type="text" class="form-control" name="username" placeholder="Username" required>
		<!-- Password -->
		<input type="password" class="form-control" name="password" placeholder="Password" required>
		<!-- Password -->
		<input type="password" class="form-control" name="password2" placeholder="Password again" required>
		<!-- Email -->
		<input type="email" class="form-control" name="email" placeholder="email@example.com" required>
		<div class="row">
			<!-- half of the grid system which bootstrap provides -->
			<div class="col-xs-6 col-sm-6 col-md-6">
				<!-- Register -->
				<input class="btn btn-lg btn-primary btn-block adjustbutton" type="submit" value="Register" name="register">
			</div>
			<!-- other half of the grid system -->
			<div class="col-xs-6 col-sm-6 col-md-6">
				<!-- Reset Button -->
				<input class="btn btn-lg btn-danger btn-block adjustbutton" type="reset" value="Reset">
			</div>
		</div>
		</label>
		<!-- end loginform -->
	</form>
</div>
</body>
</html>
