<?php include($_SERVER['DOCUMENT_ROOT'].'/config/vars.inc.php'); ?>
<div class="panel panel-default" style="margin-top:20px">
	<form action="php/submit.php" method="post" >
		<div class="panel panel-default">
			<div class="panel-body" style="padding:5px">
				<table class="table table-striped table-bordered" style="margin:5px">
					<thead>
						<tr>
							<th><span class="glyphicon glyphicon-ok"></span></th>
							<th>Category</th>
							<th>subscribed</th>
						</tr>
					</thead>
					<tbody>
						<?php include($_SERVER['DOCUMENT_ROOT'].'/php/abonate.php');?>
					</tbody> 
				</table>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<input class="btn btn-lg btn-primary btn-block adjustbutton" type="submit" value="Subscribe" name="subscribe">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<input class="btn btn-lg btn-danger btn-block adjustbutton" type="submit" value="Desubscribe" name="desubscribe">
					</div>
					</form>
				</div>
			</div>
		</div>
</div>

<div id="wrapper">
<div class="panel userdata panel-userdata panel-default center-block">
	<!-- Default panel contents -->
	<div class="panel-heading">Userdata</div>

	<!-- Table -->
	<table class="table">
		<?php include($_SERVER['DOCUMENT_ROOT'].'/php/userdata.php');?>
	</table>
</div>
</div>
