<p>本頁面旨在幫助您完成第一次安装和設定 <a href="http://dokuwiki.org">Dokuwiki</a>。關於安裝工具的更多訊息請參閱 <a href="http://dokuwiki.org/installer">官方文檔頁面</a>。</p>

<p>DokuWiki 使用普通檔案來儲存 wiki 頁面，以及與頁面相關的訊息（例如：圖像、搜尋索引、修訂記錄等）。為了正常運作，DokuWiki <strong>必須</strong> 擁有針對那些路徑和檔案的寫入權限。本安裝工具無法設定目錄權限，這通常要透過命令行、FTP 或您主機上的控制台（如cPanel）進行。</p>

<p>本安裝工具將設定您的 DokuWiki 用於 <abbr title="訪問控制列表">ACL</abbr> 的設定檔，它能讓管理員登入並使用「管理」功能來安裝附加元件、管理使用者、管理訪問權限和其他設定設定。它並不是 DokuWiki 正常運作所必須，但安裝之後將更方便管理。</p>

<p>有經驗的或有特殊需求的使用者，請參閱更詳細的 <a href="http://dokuwiki.org/install">安裝指南</a>
	和 <a href="http://dokuwiki.org/config">設定</a>。</p>