@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src:
        local('Open Sans Italic'),
        local('OpenSans-Italic'),
        url('Open_Sans_400italic.eot?#iefix') format('embedded-opentype'),
        url('Open_Sans_400italic.woff') format('woff'),
        url('Open_Sans_400italic.woff2') format('woff2'),
        url('Open_Sans_400italic.svg#OpenSans') format('svg'),
        url('Open_Sans_400italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src:
        local('Open Sans Bold Italic'),
        local('OpenSans-BoldItalic'),
        url('Open_Sans_700italic.eot?#iefix') format('embedded-opentype'),
        url('Open_Sans_700italic.woff') format('woff'),
        url('Open_Sans_700italic.woff2') format('woff2'),
        url('Open_Sans_700italic.svg#OpenSans') format('svg'),
        url('Open_Sans_700italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:
        local('Open Sans'),
        local('OpenSans'),
        url('Open_Sans_400.eot?#iefix') format('embedded-opentype'),
        url('Open_Sans_400.woff') format('woff'),
        url('Open_Sans_400.woff2') format('woff2'),
        url('Open_Sans_400.svg#OpenSans') format('svg'),
        url('Open_Sans_400.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src:
        local('Open Sans Bold'),
        local('OpenSans-Bold'),
        url('Open_Sans_700.eot?#iefix') format('embedded-opentype'),
        url('Open_Sans_700.woff') format('woff'),
        url('Open_Sans_700.woff2') format('woff2'),
        url('Open_Sans_700.svg#OpenSans') format('svg'),
        url('Open_Sans_700.ttf') format('truetype');
}
