
<p>
    If you want to adjust the logo, simply use the Media Manager to upload a <code>logo.png</code> into the <code>wiki</code> or the root namespace and it
    will be automatically used. You can also upload a <code>favicon.ico</code> there. If you use a closed
    wiki it is recommended to make the <code>wiki</code> (or root) namespace world readable in the <abbr title="Access Control List">ACL</abbr> settings or
    your logo is not shown to not logged in users.
</p>
