<p>本页面旨在帮助您完成第一次安装和配置 <a href="http://dokuwiki.org">Dokuwiki</a>。关于安装工具的更多信息请参阅其 <a href="http://dokuwiki.org/installer">官方文档页面</a>。</p>

<p>DokuWiki 使用普通的文件保存维基页面和其他与这些页面挂钩的信息（例如：图像，搜索索引，修订记录等）。为了能正常运行，DokuWiki <strong>必须</strong> 拥有针对那些路径和文件的写权限。本安装工具不能用于设置这些权限。对权限的操作通常通过命令行或使用您的网络服务提供商的 FTP 或控制面板（例如 cPanel）进行操作。</p>

<p>本安装工具将设置您的 DokuWiki 配置 <abbr title="访问控制列表">ACL</abbr>，它能让管理员登录并使用“管理”功能来安装插件，管理用户，管理访问权限和其他配置设置。它并不是 DokuWiki 正常运行所必须的，但安装之后它将更方便您的管理。</p>

<p>有经验的用户或有特殊需求的用户请参阅更详细的 <a href="http://dokuwiki.org/install">安装指南</a>
	和 <a href="http://dokuwiki.org/config">配置设置</a>。</p>
