<p>Halaman ini membatu Anda dalam proses instalasi dan konfigurasi pertama kali
	untuk <a href="http://dokuwiki.org">Dokuwiki</a>. Informasi lebih lanjut
	tentang alat instalasi ini tersedia dalam
	<a href="http://dokuwiki.org/installer">halaman dokumentasi</a> sendiri.</p>

<p>DokuWIki menggunakan berkas biasa sebagai media penyimpanan halaman wiki
	dan informasi lainnya yang berhubungan dengan halaman tersebut (contoh: gambar,
	indeks pencarian, revisi lama, dll). Agar bisa menggunakannya DokuWiki
	<strong>harus</strong> memiliki hak akses tulis pada direktori yang menyimpan
	berkas-berkas tersebut. Alat instalasi ini tidak dapat melakukan perubahan
	konfigurasi hak akses pada direktori. Biasanya harus menggunakan command shell
	atau jika Anda pengguna layanan hosting, melalui FTP atau control panel layanan
	hosting Anda (misalnya: cPanel). </p>

<p>Alat instalasi ini akan mengatur konfigurasi DokuWiki Anda untuk
	<abbr title="access control list">ACL</abbr>, yang selanjutnya akan
	memperbolehkan administrator untuk login dan mengakses menu Admin DokuWiki
	untuk menginstal plugin, mengatur pengguna (user), mengatur hak akses ke
	halaman wiki dan perubahan konfigurasi. Ini tidak diawajibkan dalam pengoperasian
	DokuWiki, tetapi dapat membuat DokuWiki lebih mudah untuk dipelihara.</p>

<p>Pengguna berpengalaman atau pengguna dengan kebutuhan instalasi khusus silahkan
	melihat link <a href="http://dokuwiki.org/install">Panduan Instalasi</a>
	and <a href="http://dokuwiki.org/config">Konfigurasi WIki</a>.
	untuk hal-hal yang berhubungan dengan instalasi dan konfigurasi.</p>
