/*!
 * DokuWiki Bootstrap3 Template: Mobile and other devices styles
 *
 * Home     http://dokuwiki.org/template:bootstrap3
 * Author   Giuseppe Di Terlizzi <giuseppe.diterlizzi@gmail.com>
 * License  GPL 2 (http://www.gnu.org/licenses/gpl.html)
 */

@media screen and (max-width: 767px) {

    .dokuwiki {

        fieldset,
        label.block select,
        label.block input.edit {
            width: 100%;
            text-align: left;
        }

        label.block {
            text-align: initial;
        }

        label[for="remember__me"] {
            margin-left: 0 !important;
        }

        .centeralign form {
            text-align: left;
        }

        #config__manager {
            td {
                display: block;
                margin: 5px;
            }
            td.value {
                border-top: 0px solid transparent
            }
        }

        #insitu__fn {
            max-width: initial !important;
            position: fixed !important;
            bottom: 0 !important;
            left: 0 !important;
            top: initial !important;
            width: 90% !important;
            margin: 10px;
            z-index: 9999;

            &::before {
                .fa-icon(@fa-close);
                right: 5px;
                position: absolute;
                top: 5px;
                cursor: pointer;
            }
        }

    }

}
