<p>このページは、<a href="http://dokuwiki.org">Dokuwiki</a>のインストールと初期設定をサポートします。
	このインストーラーに関する詳細は <a href="http://dokuwiki.org/installer">documentation page</a> を参考にしてください。</p>

<p>DokuWikiは、通常のファイルにWikiページの内容と関連する情報（例えば、画像、検索インデックス、古いリビジョンなど）を保存します。
	そのため、DokuWikiを使用するためには、それらのファイルを保存するディレクトリに書き込みの権限が<strong>必ず</strong>必要となります。
	このインストーラーではディレクトリの権限の変更は行えないため、コマンドシェルで権限の変更を直接行うか、
	ホスティングサービスを利用している場合はそのコントロールパネルもしくはFTPを通して、権限の変更を行ってください。</p>

<p>DokuWikiは、プラグイン、ユーザー、Wikiページへのアクセス制限、設定の変更を管理する機能を有しており、
	その機能を有効にするために必要な <abbr title="access control list">ACL</abbr> の設定が、このインストーラーによって行われます。
	この管理機能は、DokuWikiを使用する上で必要ではありませんが、DokuWikiの管理を簡単にしてくれます。</p>

<p>従来のバージョンを使用しているユーザーや特別なセットアップが必要な場合は、次のリンク先を参考にして下さい
	（<a href="http://dokuwiki.org/install">installation instructions</a>, <a href="http://dokuwiki.org/config">configuration settings</a>）。</p>
